*~
*#
.#*
*.Rhistory
*.old
data/*.*
*.zip
*.csv
*.log
*.lot
*.bbl
*.blg
*.aux
*.lof
*.toc
*.xdv
junk.*
test.*
test.tex
prelimReport.*
*.rnw
Figures/*.*
Tables/*.*
!WQreport_aux.R
!WQmetric.tex
!WQmetric.pdf
!AIMStitlepage.tex
!AIMSreport.cls
!Makefile
!References.bib
!ecology.bst
!figures/*.pdf
*part*
.nfs*
